body {
    background: url(img/background.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}
/* header */
.title {
    text-align: center;
}

/* content - main area */
.container {
    display: flex;
    height: 500px;
}

.sidebar {
    width: 20%;
    text-align: center;
}

.btn {
    width: 50%;
    height: auto;
    margin: 8px 0 8px 0;
    background-color: transparent;
    border: none;
}

.icon {
    width: 100%;
}

.cpuIcon {
    transform: scaleX(-1)
}
.content {
    width: 60%;
}

.main-text {
    height: 30%;
    text-align: center;
}

.battle-area {
    height: 70%;
    display: flex;
    flex-direction: column;
}

#battle-symbols{
    height: 50%;
    display: flex;
    justify-content: center;
}

.battle-icon,
.battle-icon-cpu {
    max-width: 50%;
    height: initial;
    margin-right: 2%;
}

.battle-icon-cpu {
    transform: scaleX(-1);
}

#battle-stickmen {
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.cpuStick {
    transform: scaleX(-1);
}

/* footer */
.footer {
    display: flex;
}